<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"  >
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/knowmore.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/KnowMore.js"></script>     
</head>
<body>
    
    <!---- Nav--->
   
           <!--Testimonila section-->
     
    
    <section class="testimonial">
        
        <div class="testimonial-overlay">
            <nav>

                 <div class="hamburger">
                    <div class="line"></div>
                     <div class="line"></div>
                     <div class="line"></div>
                </div>
                 <ul class="nav-link">
                    <li><a href="#about_me">About</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact Me</a></li>        
                </ul>  
            </nav>
            
            <div class="container text-center">
                
                <div class="row rw">
                    
                
                   <div class="col-md-12 wow bounceInDown" data-wow-duration="1s" data-wow-delay=".5s">
                    
                        <div id="carousel-testimonial" class="carousel slide " data-ride="carousel">
                            
                            <!--indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-testimonial" data-slide-to="1"></li>
                                <li data-target="#carousel-testimonial" data-slide-to="2"></li>
                            </ol>
            
            
                
                            
                            <!--Wrapper for slides-->
                            <div class="carousel-inner">
                            
                                    <!---item 1-->
                                <div class="item active text-center">
                                
                                    
                                    <div class="testimonial-caption">                 
                                        <img src="images/nikhil.jpg" class="center-   block" width="120px" height="120px" style="border-radius:50%">       
                                        <h2>Hi ! I am Nikhil</h2>
                                    </div>
                                </div>
                                    
                                    <!---item 2-->
                                <div class="item text-center">
                                
                                    
                                    <div class="testimonial-caption">
                                         <img src="images/cllg.jpg" class="center-   block" width="120px" height="120px" style="border-radius:50%">       
                                        <h2>A Computer Science Student At <span> Maharaja Agrasen Institute of Technology</span></h2>
                                        
                                    </div>
                                 </div>
                                    <!---item 3-->
                                <div class="item text-center " >
                                
                                    
                                    <div class="testimonial-caption">
                                        <div class="container">
                                            <div class="row">
                                              
                                               
                                                <div class="col-md-2 col-md-offset-2">
                                                    <div class="c3">
                                                        <img src="images/c3b.jpg">
                                                    </div>
                                                </div>
                                            
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 ">
                                                
                                                     <h2>I Love Solving Problems and Developing Things</h2>
                                    
                                                </div>
                                            </div>
                                        
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                             
                            
                         </div>
                      
        
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!--About me--->
    <section id="about_me" class="about_me wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
    
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading">
                        <h1>About Me</h1>
                    </div>
                
                </div>       
            </div>
            <div class="about_content">
            
            <div class="row ">
                <div class="col-md-4">
                    
                    <div class="thumbnail text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <h3>A Developer</h3>
                        <img src="images/developer.jpg">  
                           <div class="content">
                            
                        <p>With my curiosity to learn new technologies for development I have developed Many Websites and Will Continue
                            learning New Technologies.
                           I have developed many Websites Using HTML-5,CSS-3
                           Bootstrap,Javascript,Jquery,Node.js
                               </p>
                        
                            
                        </div>                         
                       
                    </div>
                        
                                           
                </div>
                <div class="col-md-4">
                    <div class="thumbnail text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    
                        <h3>Competitive Coder</h3>                      
                         <img src="images/codechef.jpg">  
                        <div class="content">
                            
                            <h4>3 Star Coder at CodeChef</h4>
                            
                                 <a href="https://www.codechef.com/users/nikhilsvs" class="CCbtn">View Profile</a>
                        
                            
                           
                        </div>
                        
                    </div>
                
                </div>
                <div class="col-md-4">
                    <div class="thumbnail text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    
                        <h3>Music Lover</h3>
                         <img src="images/music.jpg">  
                        <div class="content">
                            <p>When you hear music to your liking, the brain actually releases a chemical called dopamine that has positive effects on mood. 
                            Studies suggest that music can enhance  boost mental and physical stimulation, and increase overall performance.</p>
                        
                        
                    
                        </div>
                       
                    </div>
                
                </div>
            </div>
          
            
            </div>
 
        
        </div>
    
    </section>
    
    <!--- Education--->
    <section class="education" id="education">
        <div class="container">
            
            <div class="well">
                <div class="row text-center">
                <div class="col-md-12">
                    <h1>Education</h1>
                
                </div>
            
            </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail wow zoomIn" data-wow-duration="1s"
                             data-wow-delay="1s">
                             <h4 id="heading">Higher Education</h4>
                             <img src="images/mait-1.jpg">
                            <div class="content">
                                
                                <h4>Student at <span>Maharaja Agrasen Institute Of Technology (2018-2022)</span> </h4>
                                <h5 style="font-size:18px">Computer Science And Engineering</h5>
                                
                                
                        
                            </div>
                        </div>
                        
                    
                    </div>
                    <div class="col-md-4">
                         <div class="thumbnail wow zoomIn" data-wow-duration="1s"
                             data-wow-delay="1s">
                            <h4 id="heading">Secondary Education</h4>
                             <img src="images/school.jpeg">
                             <div class="content">
                             <h4>J.D TYTLER SCHOOL , New Delhi</h4>
                                 <h5>Year : 2016-2017</h5>
                                 <h5>PCM % : 94.33%</h5>
                        </div>
                        </div>
                       
                       
                    
                    </div>
                    <div class="col-md-4">
                       
                         <div class="thumbnail wow zoomIn" data-wow-duration="1s"
                             data-wow-delay="1s">
                             <h4 id="heading">Primary Education</h4>
                              <img src="images/school2.jpg">
                             <div class="content">
                             <h4>J.D TYTLER SCHOOL , New Delhi</h4>
                                 <h5>Year of passing : 2015</h5>
                                 <h5>CGPA : 9.2</h5>
                        
                            </div>
                        </div>
                    
                    </div>
                
                
                </div>
            </div>
        
        </div>
    
    
    </section>
    
    <!--- Skills-->
    <section class="skills" id="skills">
        
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Skills</h1>
                </div>
            </div>
        </div>
        
       
    
        <div class="thumbnail thmb">
        
             <div class="container">
            <div class="row text-center">
                <div class="col-md-3 item-skill">
                    <img src="images/skills/c.svg" class="wow fadeIn"
                         data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <div class="skills_content">
                        <h3>C Language</h3>
                    </div>
                </div>
                <div class="col-md-3 item-skill">
                    <img src="images/skills/cpp.svg" class="wow fadeIn"
                         data-wow-duration="0.5s" data-wow-delay="1s">
                     <div class="skills_content">
                        <h3>C++ Language</h3>
                    </div>
                </div>
                <div class="col-md-3 item-skill">
                    
                    <img src="images/skills/HTML5_Logo_512.png" class="wow fadeIn"
                         data-wow-duration="0.5s" data-wow-delay="1.5s">
                     <div class="skills_content">
                        <h3>HTML-5</h3>
                    </div>

                </div>
                <div class="col-md-3 item-skill text-center">
                    <img src="images/skills/css3.svg" class="wow fadeIn"
                         data-wow-duration="0.5s" data-wow-delay="2s">
                    <div class="skills_content">
                        <h3>CSS-3</h3>
                    </div>
                </div>
            
            </div>
            <div class="row text-center">
                <div class="col-md-2 col-md-offset-2 item-skill" >
                    <img src="images/skills/bootstrap-4.svg" class="wow fadeIn"
                         data-wow-duration="0.5s" data-wow-delay="2.5s">
                    <div class="skills_content">
                        <h3>Bootstrap-4</h3>
                    </div>
                </div>
                <div class="col-md-4 item-skill">
                    <img src="images/skills/javascript-4.svg" class="wow fadeIn"
                         data-wow-duration="0.5s" data-wow-delay="3s">
                    <div class="skills_content">
                        <h3>JavaScript</h3>
                    </div>
                </div>
                <div class="col-md-3 item-skill">
                    
                    <img src="images/skills/nodejs.svg" class="wow fadeIn"
                         data-wow-duration="0.5s" data-wow-delay="3.5s">
                    <div class="skills_content">
                        <h3>NodeJs</h3>
                    </div>

                </div>
                
            
            </div>
        
        </div>
            
        </div>
    
    </section>
    
    <!-- Contact me-->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Contact Me</h1>
                </div>
            </div>
        </div>
    
    <div class="container">
        
        <form class="ui form" action="/new" method="POST">
            <div class="row">
                <div class="col-md-4">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="message[name]" placeholder="Name" class="form-control">
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="text" name="message[email]" placeholder="Your Email.."
                               class="form-control">
                    </div>
                    <div class="field">
                        <label>Mobile</label>
                        <input type="text" name="message[mobile]" placeholder="Mobile"
                               class="form-control">
                    </div>
                
                </div>
                <div class="col-md-8">
                    <div class="field">
                        <label>Message</label>
                        <textarea name=message[desc] placeholder="Type Your Message"  class="txtmsg"></textarea>
                    </div>
                    
                    <input type="submit" class="ui inverted blue button btn" >
                
                </div>
            
            </div>
            
        
        </form>
        
                <div class="spn">
                <span ><i class="ui mail icon"></i>nikhilsvs@gmail.com</span> 
                <span ><i class="ui phone icon"></i>8527944934</span>
                                
                </div> 
        
                <div class="content-i">
                    
                        <a href="https://www.facebook.com/golu.nikhilsharma" class="item-i"><i class="ui facebook icon"></i></a>
                        <a href="https://www.linkedin.com/in/nikhil-sharma-24o98/" class="item-i"><i class="ui linkedin icon"></i></a>
                        <a href="https://twitter.com/NikhilS30609751" class="item-i"><i class="ui twitter icon"></i></a>
                   
                   
                    
                </div>
            
    </div>
        
    
    </section>
    
    <!--- Footer--->
    <footer class="footer">
    
        <div class="container">
        
            <div class="row">
            
                <div class="col-md-6">
                
                    <div id="copyright">
                    
                    <p>Copyrights &copy; 2020 <a href="#"> - Nikhl</a> </p>
                    
                    </div>    
                
                
                </div>
                <div class="col-md-6">
                    <div class="scroll-up">
                    <a href="#"><i class="ui chevron up icon"></i></a>
                    </div>
                
                
                
                </div>
            
            </div>
        
        </div>
    
    
    </footer>
    <script>
         new WOW().init();
    </script>
   

<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>
        
</body>
</html>