<!DOCTYPE html>
<html>
    <head>
    <title>Nikhil</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"  >
  
    <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/animate.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        
        <header class="header">
        
            <div class="overlay">
                <div class="container">
                
                   <div class="aggregate wow fadeIn">
                    
                        <div class="row">
                        <div class="col-md-12">
                            <div class="dp text-center">
                                <img src="images/nikhil.jpg" alt="dp">               <div class="spn">
                                    <span ><i class="ui mail icon"></i>nikhilsvs@gmail.com</span> 
                                   <span ><i class="ui phone icon"></i>8527944934</span>
                                
                                </div>                              

                                <h1 class="wow fadeIn">Nikhil Sharma</h1>
                                <h3>Student At MAIT <span id="spn"> CSE </span> </h3>
                            </div>

                        </div>
                </div>  
                    
                    </div>
             <div class="list">
                    <ul class="items">
                     <li><a href="/info#about_me" class="wow bounceIn">About</a></li>
                    <li><a href="/info#education">Education</a></li>
                    <li><a href="/info#skills">Skills</a></li>
                 </ul>  
             </div>
            <div class="btn">
                    
                    <a class="ui inverted red button btn" href="/info" class="text-center">View Full Profile<i class="angle double right icon"></i></a>    
                        
                   
            </div>                   
              
                </div>
            
        </div>
        
        </header>
        
      <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/wow.min.js"></script>
        
        
    </body>

</html>